{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  front-family: Arial, Helvetica, Sans-serif;
  line-height: 1,5;
  color: #222
  background: #fff;
  margin: 0;
}

nav {
  background-color: darkblue;
  padding: 10px;
}
nav a {
  color: white;
  display: block;
  padding: 20px
}
h1 {
  color: darkblue;
}
img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0px;
}
main {
  max-width: 840px;
}
aside {
  width: 20rem;
  color: #333
  text-align: center;
  position: relative;
}

aside h2 {
  position: absolute;
  top: 205px;
  left: 20px;
  margin: 0;
  font-size: 19px;
}

aside img {
  width: 200px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
main img {
  margin-left: 20px;
width: 150px;
height: auto;
border: 1px solid steelblue;
padding: 2px;
box-shadow: 0 0 30px gray;
float: right;
}

}
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* seletores de classe */
.caixa {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

.identacao {
  padding-left: 2rem;
}
